artifacts/clickhouse/** filter=lfs diff=lfs merge=lfs -text
clickhouse/artifacts/* filter=lfs diff=lfs merge=lfs -text
clickhouse/artifacts/** filter=lfs diff=lfs merge=lfs -text
artifacts/** filter=lfs diff=lfs merge=lfs -text
