[Unit]
Description=ClickHouse Keeper Service
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/home/jake_morrison/clickhouse_binaries/clickhouse-keeper --config-file=/home/jake_morrison/clickhouse_binaries/keeper_config.xml
Restart=on-failure
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target

